* {
  margin: 0px;
  padding: 0px; }

body {
  height: 100%;
  background-color: #fbf9f8; }

a {
  color: #026594;
  text-decoration: none; }

a, h1, h2, h3, h4, p {
  font-family: lato, serif;
  color: #444444; }

h3 em {
  text-decoration: underline;
  font-style: normal; }

h1 {
  text-align: center; }

#title {
  padding-left: 22px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #777777; }

#title em {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-style: normal; }

canvas {
  display: block;
  margin: 0em auto;
  background: #fff;
  border: 1px solid #cccccc; }

.juxta {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.divider {
  background: #fbf9f8;
  height: 350px;
  float: left;
  width: 6px; }

.juxta-title {
  width: 450px;
  margin-bottom: 5px; }

.juxta-credit {
  position: absolute;
  top: 12px;
  right: 0px; }

p.credit {
  display: inline;
  font-size: 0.6em;
  color: #d0d0d0;
  text-align: right; }

.juxta-sub-left {
  position: absolute;
  left: 0px;
  top: 390px; }

.juxta-sub-right {
  position: absolute;
  right: 0px;
  top: 390px; }

.image-box {
  background: yellow;
  height: 350px;
  width: 477px;
  float: left; }

input {
  background: #eee;
  position: relative;
  top: -200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border: 2px solid #aaa;
  width: 300px;
  height: 40px;
  display: block;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-family: lato, serif;
  font-style: bold;
  color: #777777;
  font-size: 1em; }

p.img-selector {
  padding-left: 4px;
  padding-top: 6px; }

.cropFrame {
  float: left; }
