// Specify quick color shorthands
$black: #000000;
$white: #ffffff;
$light-gray: #D0D0D0;
$medium-gray: #C9C9C9;
$darker-gray: #777;
$text-black: #444;

// Functional colors
$background: #fbf9f8;
$text-color: #2A281B;
$text-color-very-light: #C0C0C0;
$text-color-light: #A0A0A0;
$text-color-medium: #656565;
$link-color: #026594;
$globe-border: #A9B4C0;
$arc-border: #C2CDD8;

// widths
$window-width: 960px;
$canvas-height: 350px;


// Mixins
@mixin rounded-corners($radius) {
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rounded-corners-fine($r1, $r2, $r3, $r4) {
    -moz-border-radius: $r1 $r2 $r3 $r4;
    border-radius: $r1 $r2 $r3 $r4;
}


// Now the scss
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: $background;
}

a {
    color: $link-color;
    text-decoration: none;
}

a, h1, h2, h3, h4, p {
    font-family: lato, serif;
    color: $text-black;
}

h3 em {
    text-decoration: underline;
    font-style: normal;
}

h1 {
    text-align: center;
}

// Now style portfolio objects
#title {
    padding-left: 22px;
    width: $window-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
    color: $darker-gray;
//    -webkit-text-fill-color: white;
//    -webkit-text-stroke-width: 2px;
//    -webkit-text-stroke-color: black;
}

#title em {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-style: normal;
}

canvas {
    display:block;
    margin:0em auto;
    background:#fff;
    border:1px solid #ccc
}

.juxta {
    width: $window-width;
//    height: $canvas-height;
//    background: green;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.divider {
    background: $background;
    height: $canvas-height;
    float: left;
    width: 6px;
}

.juxta-title {
    width: 450px;
    margin-bottom: 5px;
}

.juxta-credit {
    position: absolute;
    top: 12px;
    right: 0px;
}

p.credit {
    display: inline;
    font-size: 0.6em;
    color: $light-gray;
    text-align: right;
}

.juxta-sub-left {
    position: absolute;
    left: 0px;
    top: 390px;
}

.juxta-sub-right {
    position: absolute;
    right: 0px;
    top: 390px;
}

.image-box {
//    background: yellow;
    height: 350px;
    width: 477px;
    float: left;
}

input {
    background: #eee;
    position: relative;
    top: -200px;
//    left: 140px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border: 2px solid #aaa;
    width: 300px;
    height: 40px;
    display: block;
    @include rounded-corners(5px);
    text-align: center;
    font-family: lato, serif;
    font-style: bold;
    color: $darker-gray;
    font-size: 1em;
}

p.img-selector {
    padding-left: 4px;
    padding-top: 6px;
}

#submit {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 1px;
    padding-left: 10px;
    color: $text-color-medium;
}

.icon-envelope-alt {
    font-size: 1.8em;
    padding-left: 8px;
}

#submit p {
    font-family: lato, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.5em;
    position: absolute;
    width: 45px;
    text-align: center;
}

.hidden {
    display: none;
}

//.divider {
//    left: $window-width / 2 - 9px;
//    top: 0px;
//    width: 18px;
//  height: $canvas-height;
//  -webkit-transform: skew(-3deg);
//     -moz-transform: skew(-3deg);
//       -o-transform: skew(-3deg);
//  background: $background;
//  position: absolute;
//    z-index: 2;
//}

.cropFrame {
    float: left;
//    border-right: 10px solid white;
}
